@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a {
    font-size: 30px;
    color: white;
    padding: 15px 30px;
    display: flex;
}

header .logo a span {
    color: #f3ba00;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid white;
}


/* Hero */

.carousel-hero{
    height: 650px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hero h2{
    text-shadow: #FDFFFC -6px 0px 5px;
    font-size: 45px;
    padding: 5px;
    color: black;
}

#hero p{
    text-shadow: #FDFFFC -6px 0px 5px;
    font-size: 22px;
    color: black;
    padding: 10px;
}

#hero button{
    box-shadow: #FDFFFE 6px 5px 4px;
        color: rgb(0, 0, 0);
        padding: 14px;
        background-color: transparent;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 6px;
        font-size: 20px;
        cursor: pointer;
}

#hero button:hover{
    color: #ffffff;
}

/* About */

.about {
    background-color: #850202;
    width: 100%;
}

.about .about-header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.about-header h3{
    color: rgb(199, 132, 9);
    padding: 10px 30px;
}

.about-header h4{
    color: rgb(199, 132, 9);
    padding: 10px 20px;
}

.about .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #b81616;
}

.about .meals{
    width: 250px;
}

.about .meals img{
    border-radius: 50%;
    width: 100%;
}

.about .desc{
    text-align: center;
    margin-top:10px ;
}

.about .desc h2{
    color: rgb(160 209 10);
}

.about .desc label{
    margin-top: 10px;
    color: white;
  }

/* MEnu*/

.menu {
    background-color: #333333;
    width: 100%;
}

.menu .menu-box {
    background-color: rgb(141 10 10);
}

.menu h3, label{
    color: black;
    text-align: justify;
}


.menu  .menu-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(73, 2, 2);
}

.menu-header h3 {
    color: orange;
    padding: 10px 30px;
}

.menu-header h4 {
    color: orange;
    padding: 10px 20px;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
}

.menu-box .card {
    width: 280px;
    margin: 20px;
}

.menu-box .card-image-inasal{
    padding-top: 74px;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.menu-box .card-image-inasal img:hover{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.menu-box .card-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.menu-box .card-image img:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.menu-box .card-body {
    padding: 20px;
    color: white;
    border: 3px solid #3B3B3B;
}

.menu-box .card-body h3 {
    padding: 10px 0;
}

.menu-box .card-body i {
    color: yellow;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.menu-box .card-body .cash {
    font-size: 22px;
    margin-left: 90px;
}


/* Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #333333;
}

.contact .contact-box {
    flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
    height: 100%;
}

.contact img {
    width: 100%;
    height: 100%;
}

.contact-image img {
    opacity: .9;
}

.contact-body {
    background-color: rgb(73, 2, 2);
    height: 100%;
    border-left: 2px solid #333333;
}

.contact-body form {
    padding: 50px 40px;
    box-sizing: border-box;
}

.contact-body h2 {
    color: orange;
}

form .form-content {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid rgb(158, 30, 30);
}

form .form-content input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

form .form-content label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: gray;
    transform: translateY(-50%);
    font-size: 17px;
    transition: .5s;
    pointer-events: none;
}

form .form-content span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: orange;
    transform: .4s;
}

form .form-content input:focus~label,
form .form-content input:valid~label {
    top: -5px;
    color: orange;
}

form .form-content input:focus~span::before,
form .form-content input:valid~span::before {
    width: 100%;
}

.contact-body form button {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: #ff6600;
    color: white;
    border: 5px;
    cursor: pointer;
    transition: all .4s ease-in;
}

.contact-body form button:hover {
    background-color: #ff6681;
}


/* Footer */


.footer {
    background-color: #990808;
    border-top: 2px solid #920808;
}

.footer .footer-box {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 17px;
    padding: 10px;
    margin: 5px;
}

.footer .footer-box .social-media a:hover {
    opacity: .7;
    transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand span {
    color: orange;
}

/* Responsive */

@media(max-width: 992px) {

    /* Header */

    header {
        flex-direction: column;
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    }


    header nav ul li a {
        font-size: 16px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

/* Hero */

.carousel-hero{
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}
}


@media(max-width: 950px) {
    .contact .contact-box {
        flex: 100%;
    }
}

@media(max-width: 800px) {

    .about .content .meals {
        margin: 20px;
    }
}

@media(max-width: 700px) {
    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 5px;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
    }
}

@media(max-width: 500px) {

    /* header */

    header {
        height: 130px;
    }

    header .logo a {
        font-size: 23px;
    }

    header nav ul li a {
        font-size: 13px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }



    /* footer */

    .footer .footer-box {
        flex-direction: column;
    }

    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
        margin-top: 10px;
    }

}


@media(max-width: 410px) {

    /* header */

    header {
        height: 120px;
    }

    header .logo a {
        font-size: 20px;
        color: white;
        padding: 15px 30px;
    }

    header nav ul li a {
        font-size: 12px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
        color: white;
        padding: 5px 5px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }


}